<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <div class="abo" style="background-color:#d9cce2; background-position:fill;">
  </head>


  <body>

    <!-- <div class="container">
        <div class="jumbotron"> -->
    <h1>HOW DO YOU DEFINE CORRUPTION?</h1>
    <p>Generally speaking as “the abuse of entrusted power for private gain”. Corruption can be classified as grand, petty and political, depending on the amounts of money lost and the sector where it occurs. Grand corruption consists of acts committed at
      a high level of government that distort policies or the central functioning of the state, enabling leaders to benefit at the expense of the public good. Petty corruption refers to everyday abuse of entrusted power by low- and mid-level public officials
      in their interactions with ordinary citizens, who often are trying to access basic goods or services in places like hospitals, schools, police departments and other agencies. Political corruption is a manipulation of policies, institutions and rules
      of procedure in the allocation of resources and financing by political decision makers, who abuse their position to sustain their power, status and wealth. See animated definitions of many corruption terms in our Anti-corruption Glossary.
    </p>

    <h1>WHAT IS TRANSPARENCY?</h1>
    <p>Transparency is about shedding light on rules, plans, processes and actions. It is knowing why, how, what, and how much. Transparency ensures that public officials, civil servants, managers, board members and businesspeople act visibly and understandably,
      and report on their activities. And it means that the general public can hold them to account. It is the surest way of guarding against corruption, and helps increase trust in the people and institutions on which our futures depend. See how transparency
      can defeat corruption in a range of areas.</p>

    <h1>WHAT ARE THE COSTS OF CORRUPTION?</h2>
<p>Corruption impacts societies in a multitude of ways. In the worst cases, it costs lives. Short of this, it costs people their freedom, health or money. The cost of corruption can be divided into four main categories: political, economic, social and environmental.

On the political front, corruption is a major obstacle to democracy and the rule of law. In a democratic system, offices and institutions lose their legitimacy when they’re misused for private advantage. This is harmful in established democracies, but even more so in newly emerging ones. It is extremely challenging to develop accountable political leadership in a corrupt climate.

Economically, corruption depletes national wealth. Corrupt politicians invest scarce public resources in projects that will line their pockets rather than benefit communities, and prioritise high-profile projects such as dams, power plants, pipelines and refineries over less spectacular but more urgent infrastructure projects such as schools, hospitals and roads. Corruption also hinders the development of fair market structures and distorts competition, which in turn deters investment.

Corruption corrodes the social fabric of society. It undermines people's trust in the political system, in its institutions and its leadership. A distrustful or apathetic public can then become yet another hurdle to challenging corruption.

Environmental degradation is another consequence of corrupt systems. The lack of, or non-enforcement of, environmental regulations and legislation means that precious natural resources are carelessly exploited, and entire ecological systems are ravaged. From mining, to logging, to carbon offsets, companies across the globe continue to pay bribes in return for unrestricted destruction.</p>

<h1>WHAT DO YOU DO TO FIGHT CORRUPTION?</h1>
    <p>Our three guiding principles are: build partnerships, proceed step-by-step and stay non-confrontational. We have learned from experience that corruption can only be kept in check if representatives from government, business and civil society work
      together to develop standards and procedures they all support. We also know that corruption can’t be rooted out in one big sweep. Rather, fighting it is a step-by-step, project-by-project process. Our non-confrontational approach is necessary to
      get all relevant parties around the negotiating table.</p>
    </div>
    </div>
    </div>
  </body>

</html>
